<!doctype html>
<html>
    <head>
        <title>Nairobi Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/travellogo.jpg" alt="Nairobi Travel Logo">
        </header>
        {{{body}}}
    </body>
</html>